%h1 New category
%p= link_to("Back", { :action => "index" })

= form_for(:category, :url => { :action => "create" }) do |f| 
  = render(:partial => 'form', :locals => {:f => f})
  =f.submit(:Create)

