.navbar-wrapper
  .container
    .navbar.navbar-fixed-top.navbar-inverse{:role => "navigation"}
      .container
        .navbar-header
          %a.navbar-brand.logo{:href=>"http://www.google.com"}
        .navbar-collapse-collapse
          %ul.nav.navbar-nav
            %li
              %a{:href => "/public"}Home
            %li
              %a{:href => "/public/articles"}Pages
            %li.dropdown
              %a.dropdown-toggle{:href => "#", 'data-toggle' => "dropdown"} 
                Galleries
                %b.caret
              %ul.dropdown-menu
                - gallery_menu   = Gallery.where(:visible => true).last(10)
                - gallery_menu.each do |gallery| 
                  %li= link_to(gallery.name, {:action => 'gallery', :gallery_id => gallery.id})
                             
            %li.dropdown
              %a.dropdown-toggle{:href=>"#", 'data-toggle'=>"dropdown"} 
                Categories
                %b.caret 
              %ul.dropdown-menu
                - menu_category   = Category.where(:visible => true).last(10)
                - menu_category.each do |category|
                  %li= link_to(category.name, {:action => 'Category', :category_id => category.id})