!!!
%html
  %head
    %title Course
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    %meta{:name => 'viewport', :content => 'width-device-width, initial-scale=1.0'}
  %body
    .container 
      -if !flash[:notice].blank?     
        .alert.alert-success{:style => 'text-align: center;'}
          = flash[:notice]
      = yield

    #footer
      .container
        %p.text-muted
          Footer test
